*{ margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(university.jpg);
    background-size: cover;
    background-position: center;
}
.top{
    width:100%;
    height: 100px;
    background: rgba(4,121,0,0.8);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 150px;
}
.logo_area{
    width: 20%;
}
.logo_area a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_area a img{
    width: 70px;
}
.logo_area a img{
    color: #00ffff;
    text-transform: uppercase;
    font-family: cursive;
    margin-left: 15px;
}
.menu_area {
    width: 40%;
}
.menu_area ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.menu_area ul li{
    position: relative;
}
.menu_area ul li::after{
    content: ' ';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #00ffff;
    bottom:-10px;
    left: 0;
    transition: .5s all ease-in-out;
}
.menu_area ul li:hover::after{
    width: 100%;
}
.menu_area ul li a{
    color: #fff;
    font-family:lato;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
}
.menu_area ul li a:hover{
    color: #00ffff;
}
.info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info h1{
    color: #fff;
    font-family: lato;
    font-size: 60px;
}
.info p{
    color: #fff;
    font-size: 20px;
    font-family: arial;
    margin: 30px 0px;
}
.bump-text {
    transition: transform 0.2s ease;
    cursor: pointer;
}
.floating-text {
    position: center;
    animation: floatText 10s infinite;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes floatText {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #cc348f;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #cb5252;
    width: 50%;
}

.close {
    color: #b0d535;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#textEffect {
    font-size: 24px;
    color: black;
    transition: color 0.3s, font-size 0.3s;
}

#textEffect:hover {
    color: red;
    font-size: 36px;
}


.btn button{
    padding: 15px 50px;
    background: transparent;
    border: 2px solid aqua;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn button::after{
    content: ' ';
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgb(4,121,0);
    left: 0;
    top: 0;
    z-index: -1;
    transition: .5s all ease-in-out;
}
.btn button:hover:after{
    width:100%;
}
p{
    color: #fff;
    font-size: 20px;
    font-family: arial;
    margin: 30px 0px;
}
